	.ui-tabs {
		position: static;
	}

	* {
		 box-sizing: content-box;
	}
	
	.mentees ul li{
		margin: 0 2px 2px 2px; 
		padding: 2px;
		font-size: 1em; 
		width: 200px; 
	}
	
	.mentee-1{
		margin: 0 2px 2px 2px; 
		padding: 2px;
		font-size: 1em; 
		width: 200px; 
	}
	.light {
		border: 1px solid #AAA;
		background: #CCC;
		color: #222;
		font-weight: bold;
		background: #CCC url(/webapp/training-tracker/includes/header.png) 50% 50% repeat-x;
	}
	.dark {
		border: 1px solid #AAA;
		background: #666;
		color: #222;
		font-weight: bold;
		background: #CCC url(/webapp/training-tracker/includes/header.png) 50% 50% repeat-x;
	}
	.ui-accordion-content{
		box-sizing: content-box;
	}
	#toolbar {
		background: #CCC url(/webapp/training-tracker/includes/header.png) 50% 50% repeat-x;
		padding: 5px 4px;
	}
	#accordion{
		box-sizing: content-box;
	}
	#progressbar{
		background: #99FF99

	}
	.ui-progressbar-value{
		background: #9F9;
  }
	#dialog-confirm{
		display: none;
	}
	
